$theme-colors: (
  "primary":    #355888,
  "secondary":  #7786a7,
  "success":    #459561,
  "info":       #16141b,
  "warning":    #c28529,
  "danger":     #f44336
);

@import "bootstrap/bootstrap";

.footer {
  position: relative;
  bottom: 0rem;
}