---
title: Blog Home
layout: default
---

<div class="row mb-3 mb-md-0">
    
    <div class="col-md-8 my-auto">
        <h3 class="d-inline-block">About Me</h3>
        {{ content }}
    </div>

    <div class="col"></div>

    <div class="col-md-3 order-first order-md-last mb-3">
        <div>
            <img src="/assets/images/gregg-headshot.png" alt="picture of Gregg" style="width: 10rem" class=" d-block mx-auto">
        </div>

        <div class="text-center">
            <div class="font-weight-bold">Gregg Dunn</div>
            <div style="font-size: .8rem;">Seattle, WA</div>
        </div>

        <hr/>

        <div>
            <a href="https://www.linkedin.com/in/greggadunn/" target="_blank" class="d-block text-center">
                Connect on LinkedIn
            </a>
        </div>

        <div>
            <a href="https://github.com/Greggolas" target="_blank" class="d-block text-center">
                Follow me on GitHub
            </a>
        </div>

    </div>
    
</div>

<div>
    <h3>New Posts</h3>
    {% assign sorted_posts = site.posts | sort: "date" | reverse %}
    {% for post in sorted_posts limit:3 %}
        <div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ post.url }}">{{ post.title }} - {{ post.date | date: "%B %-d, %Y"}}</a>
                    </h5>
                    <p class="card-text">{{ post.description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    <a href="/blog" class="float-right">Older Posts</a>
</div>